<nav class="navbar navbar-dark bg-primary mb-3">
    <div class="container">
        <span class="navbar-brand">{{title}}</span>
    </div>

</nav>
<div id="search-container" class="container">
    <div id="search" class="card card-body bg-light mb-2">
        <h4>Search Reddit</h4>
        <form id="search-form" #redditForm="ngForm" (ngSubmit)="onSubmit(redditForm)">

            <div class="form-group">
                <input [(ngModel)]="model.searchInput" name="searchinput" type="text" id="searchinput" class="form-control mb-3" placeholder="Search Term..." required>

            </div>
            <div class="form-check form-check-inline">

                Sort By:
                <div class="form-check form-check-inline" *ngFor="let sort of sortOptions">

                    <input class="form-check-input ml-2" [value]="sort" type="radio" name="sortby" [(ngModel)]="SortBy" required>

                    <label class=" form-check-label ">{{sort}}</label>
                </div>

            </div>

            <h5 class="mt-2 ">Limit: </h5>
            <div class="form-group">
                <select name="limit" id="limit" class="form-control" ngModel required>
          <option *ngFor="let pin of limits" [value]="pin">{{pin}}</option>
        </select>
            </div>
            <button type="submit " id="search-btn " class="btn btn-dark btn-block mt-4 ">Search</button>


        </form>
    </div>

    <div class="card-columns" *ngIf="submitted">

        <div class="card" *ngFor="let fdata of reddit.results">
            <img src="{{imageUrlCheck(fdata.thumbnail)}}" alt="Card image cap" class="card-img-top">
            <div class="card-body ">
                <h5 class="card-title ">{{fdata.title}}</h5>
                <p class="card-text ">{{truncateSelfText(fdata.selftext, 100)}}</p>
                <a href="{{fdata.url}} " target="_blank " class="btn btn-primary ">Read more</a>

                <button class="btn">
                        {{fdata.domain}} <span class="badge badge-danger">{{fdata.subreddit}}</span>
                </button>
            </div>
        </div>
    </div>
</div>